/* Reset CSS */
body {
    margin: 0;
    background-color: #f2f2f2;
    overflow-x: hidden;
}

h2 {
    text-align: center;
    font-size: 2.5rem;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}

h3 {
    font-size: 1.5rem;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
}

h4 {
    font-size: 1.25rem;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}

h5 {
    margin: 0;
    font-size: 1rem;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}

#container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
}

#header {
    width: 100vw;
    height: auto;
    margin-top: 5vh;
    
}

#firstSection {
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 13vh;
    margin-left: 15vw;
}

#leftComponent1 {
    width: 40vw;
}

#rightComponent1 {
    position: relative;
}

#canvas {
    width: 40vw;
    margin-left: 5vw;
}

#p1 {
    font-size: 2.5rem;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}

#p2 {
    font-size: 2.5rem;
    font-family: "Poppins", sans-serif;
    font-weight: 200;
}

#p3 {
    width: 30vw;
    margin-top: 2vh;
}

#p4 {
    width: 40vw;
    margin-top: 4vh;
}

#p5 {
    position: absolute;
    right: 5vw;
    top: 5vh;
    text-align: right;
    font-size: 1rem;
    font-family: "Poppins", sans-serif;
}

#p6 {
    margin-left: 5vw;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}

#canvas {
    width: 26.67vw;
    height: 26.67vw;
    margin-left: 3vw;
}

                                                                /* SECONDA SEZIONE LOW POLY */

#secondSection {
    background-color: black;
    width: 100vw;
    color: #f2f2f2;
    display: flex;
    flex-direction: row;
    margin-top: 10vh;
    padding-bottom: 10vh;
}

#title2 {
    margin-top: 5vh;
    margin-left: 20vw;
}

#subtitle2 {
    margin-top: 15vh;
    margin-left: 10vw;
}

#descrizione2 {
    margin-top: 2vh;
    margin-left: 10vw;
    width: 35vw;
}

#rightComponent2 {
   margin-right: 5vw;
}

#rightComponent2 img {
    width: 80%;
    height: 40%;
    margin-top: 20vh;
    margin-left: 10vw;
   
}

                                                            /* TERZA SEZIONE LOW POLY COMPLESSI*/

#thirdSection {
    background-color: #f2f2f2;
    width: 100vw;
    color: black;
    display: flex;
    flex-direction: column;
    margin-top: 10vh;
    padding-bottom: 10vh;
}

#subtitle3{
    text-align: center;
    position: relative;
    margin-bottom: 5vh;
}

#slider {
    display: flex;
    white-space: nowrap;
    flex-direction: row;
    margin-top: 2vh;
    margin-left: 10vw;
    overflow-x: scroll;
}
                                                            /* QUARTA SEZIONE PC*/

#fourthSection {
    background-color: black;
    width: 100vw;
    color: #f2f2f2;
    display: flex;
    flex-direction: column;
    margin-top: 10vh;
    padding-bottom: 10vh;
}

#title4 {
    width: 60vw;
    margin-top: 5vh;
    margin-left: 40vw;
}

#title4 .trapezoid{
    margin-left: 10vw;
}

#subtitle4 {
    width: 30vw;
    height: 60px;
    margin-left: 20vw;
}


#descrizione4 {
    position: relative;
    width: 50vw;
    margin-left: 20vw;
}

#pcContainer {
    display: flex;
    flex-direction: row;
    width: 80vw;
    margin-top: 2vh;
    margin-left: 10vw;
    margin-bottom: 2vh;
}

                                                        /* QUINTA SEZIONE MATERIALI */

#fifthSection {
    background-color: #f2f2f2;
    width: 100vw;
    color: black;
    display: flex;
    flex-direction: row;
    margin-top: 10vh;
    padding-bottom: 10vh;
}                                                       

#fifthSection img {
    width: 50vw;
}

#leftComponent5 {
    margin-top: 12vh;
    margin-left: 7vw;
}

#rightComponent5 {
    margin-top: 17vh;
    margin-left: 3vw;
    margin-right: 5vw;
}

                                                            /* SESTA SEZIONE FOTOREALISMO */

#sixthSection {
    background-color: black;
    width: 100vw;
    color: #f2f2f2;
    display: flex;
    flex-direction: column;
    margin-top: 10vh;
    padding-bottom: 10vh;

}

#title6 {
    width:40vw;
    margin: auto;
    text-align: center;
    margin-top: 5vh;
}

#subtitle6 {
    text-align: left;
    margin-left: 20vw;
}

#descrizione6 {
    width: 65vw;
    margin-top: -2vh;
    margin-left: 20vw;
}

#realisticContainer{
    display: flex;
    flex-direction: row;
    width: 80vw;
    margin-top: 4vh;
    margin-left: 10vw;
    margin-bottom: 2vh;
}
/*classes*/

.p3Light {
    font-size: 1.25rem;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
}

.tagWhite {
    width: fit-content;
    text-align: center;
    border: 1px solid #f2f2f2;
    border-radius: 20px;
    overflow: hidden;
    margin-left: 10vw;
    margin-top: 1vh;
    padding: 0.3rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.tagBlack {
    width: fit-content;
    text-align: center;
    border: 1px solid black;
    border-radius: 20px;
    overflow: hidden;
    margin-top: 1vh;
    padding: 0.3rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.sliderComponent {
    display: flex;
    flex-direction: column;
    width: 35vw;
    margin-right: 4vw;
}

.pcComponent {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-left: 3%;
}

.realisticClass {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-left: 3%;
}

.realisticClass .tagWhite{
    margin-left: 0;
}

.trapezoid {
    margin-top: -8vh;
    position: relative;
    width: 25vw; /* Larghezza base */
    height: 0; /* Altezza iniziale */
    border-bottom: 5vh solid black; /* Larghezza e colore della base */
    border-left: 80px solid transparent; /* Larghezza della sinistra */
    border-right: 80px solid transparent; /* Larghezza della destra */
}

#enlargedImage {
    max-width: 60vw;
    max-height: 50vh;
    position: fixed;
    top: 5vh;
    display: none;
    z-index: 9999;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#enlargedImage img {
    width: 100%;
    height: 100%;
}